<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" xml:lang="pt-br">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Erro!</h4>
            <p th:text="${errorMsg}">Um erro aconteceu.</p>
        </div>
        <a href="/Home" class="btn btn-primary">Voltar para página Principal</a>
    </div>
</body>
</html>